<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <title>Tekstvereenvoudiging</title>
</head>

<body>

  <div class="container">
    <p>taal: {{lang}}</p><br>
    <p>titel: {{title}}</p><br>
    <p>onderwerp: {{subject}}</p><br>
  </div>

  <div class="container">
    <div class="left-container">
      {% for page in pdf %}
      <h1>{{page[1]}}</h1>
      {% for paragraph in page[0] %}
      <p>
        {% for sentence in paragraph %}
        <span class="sentence">
        {% for word in sentence %}
        <span class="word">{{word}}</span>
        {% endfor %}
        </span>
        {% endfor %}
      </p>
      {% endfor %}
      {% endfor %}
    </div>

    <!--<div class="container">
    <div class="left-container">
      {% for sentence in original %}
      <p class="text">
        {% for word in sentence %}
        {{ word }}
        {% endfor %}
      </p>
      {% endfor %}
    </div>-->

    <div class="right-container">

      <div class="">

        <div class="buttons">
          <input type="button" hidden value="Get Selection" onmousedown="getSelectedText()">
        </div>

        <form action="/summarise-with-presets" method="post">
          <textarea name="" id="" cols="30" rows="10" disabled hidden></textarea>

          <!--Tools voor de leerkracht-->
          <h2>Tools voor de leerkracht</h2>
          <fieldset>
            <label for="checkboxTitle">Titels markeren</label><input type="checkbox" id="checkboxTitle"><br>
            <label for="checkboxDeleteSents">Zin verwijderen</label><input type="checkbox" id="checkboxDeleteSents"><br>
            <label for="checkboxAddWordToGlossary">Woord toevoegen aan woordenlijst</label><input type="checkbox"
              id="checkboxAddWordToGlossary"><br>
            <label for="checkboxFullyAutomatic">Volledig document markeren</label><input type="checkbox" name=""
              id="checkboxFullyAutomatic"><br>
            <label for="saveMethod">Opslaan als:</label>
            <select multiple name="saveMethod" id="saveMethod">
              <option value="saveMethodWord">Word</option>
              <option value="saveMethodPDF">PDF</option>
            </select>
          </fieldset>

          <!--Lexicale vereenvoudiging-->
          <h2>Lexicale vereenvoudiging</h2>
          <fieldset>
            <input type="checkbox" id="metric" name="metric" value="metric">
            <label for="metric">Metriek om moeilijke zinnen te herkennen</label><br>

            <input type="checkbox" id="keywords" name="keywords" value="keywords">
            <label for="keywords">Belangrijke kernwoorden automatisch herkennen</label><br>

            <input type="checkbox" id="language" name="language" value="language">
            <label for="language">Automatische taalherkenning</label><br>

            <input type="checkbox" id="vocabulary" name="vocabulary" value="vocabulary">
            <label for="vocabulary">Moeilijke woordenschat vervangen</label><br>

          </fieldset>

          <h2>Syntactische vereenvoudiging</h2>
          <fieldset>
            <input type="checkbox" id="syntax" name="syntax" value="syntax">
            <label for="syntax">Tangconstructies aanpassen</label><br>

            <input type="checkbox" id="sentence_length" name="sentence_length" value="sentence_length">
            <label for="sentence_length">Zinnen langer dan tien woorden inkorten</label><br>

            <input type="checkbox" id="pronouns" name="pronouns" value="pronouns">
            <label for="pronouns">Verwijswoorden aanpassen</label><br>

            <input type="checkbox" id="prepositions" name="prepositions" value="prepositions">
            <label for="prepositions">Voorzetseluitdrukkingen vervangen</label><br>

            <input type="checkbox" id="compound_verbs" name="compound_verbs" value="compound_verbs">
            <label for="compound_verbs">Samengestelde werkwoorden vervangen</label><br>
          </fieldset>


          <h2>Samenvatten</h2>
          <fieldset>
            <input type="checkbox" id="citation" name="citation" value="citation">
            <label for="citation">Bronvermelding</label><br>

            <input type="checkbox" id="paraphrasing" name="paraphrasing" value="paraphrasing">
            <label for="paraphrasing">Parafrasering / abstraherende samenvatting</label><br>

            <input type="checkbox" id="important_sentences" name="important_sentences" value="important_sentences">
            <label for="important_sentences">Automatische markering van de belangrijke zinnen</label><br>

            <input type="checkbox" id="extractive_summary" name="extractive_summary" value="extractive_summary">
            <label for="extractive_summary">Extraherende samenvatting</label><br>

            <input type="checkbox" id="summary_length" name="summary_length" value="summary_length">
            <label for="summary_length">Lengte van de samenvatting</label><br>

            <input type="checkbox" id="keyword_summary" name="keyword_summary" value="keyword_summary">
            <label for="keyword_summary">Samenvatten op basis van kernwoorden</label>
          </fieldset>

          <button type="submit" value="Samenvatten" id="summarize-with-presets-button">Volledig document
            samenvatten</button>
        </form>

        <form action="/generate-glossary">
          <h2>Woordenlijst</h2>
          <fieldset>
            <textarea name="" id="glossaryList" cols="30" rows="10">

            </textarea>
            <button type="submit">Glossary-lijst genereren</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</body>

<script>

  /*
  Glossary-lijst aanvullen met woord
  */
  const checkboxAddWordToGlossary = document.getElementById("checkboxAddWordToGlossary");
  checkboxAddWordToGlossary.addEventListener("change", function () {
    if (checkboxAddWordToGlossary.checked) {
      const words = document.querySelectorAll('span.word');
      words.forEach((w) => {
        w.addEventListener('click', async (event) => {
          if (checkboxAddWordToGlossary.checked) {
            console.log(w);
            var pTag = event.target;
            var textarea = document.getElementById("glossaryList");
            pTag.style.backgroundColor = "black";
            pTag.style.color = "white";
            pTag.style.fontWeight = "bold";
            textarea.value += "\n" + pTag.innerHTML;
          }
        })
      })
    }
  });

  /*
  Glossary-lijst maken
  */


  /*
  Deleting sentences
  */
  const checkboxDeleteSents = document.getElementById("checkboxDeleteSents");
  checkboxDeleteSents.addEventListener("change", function () {
    if (checkboxDeleteSents.checked) {
      const ptags = document.querySelectorAll('span.sentence');
      ptags.forEach((p) => {
        p.addEventListener('click', async (event) => {
          if (checkboxDeleteSents.checked) {
            console.log(p);
            var pTag = event.target;
            pTag.remove();
          }
        })
      })
    }
  });

  /*
  Marking titles as a teacher
  */
  const checkboxTitle = document.getElementById("checkboxTitle");
  checkboxTitle.addEventListener("change", function () {
    if (checkboxTitle.checked) {
      const ptag = document.querySelectorAll('span.sentence');
      ptag.forEach((p) => {
        p.addEventListener('click', async (event) => {
          if (checkboxTitle.checked) {
            console.log(p)
            var pTag = event.target;
            var h1Tag = document.createElement("h1");
            h1Tag.innerHTML = pTag.innerHTML;
            pTag.parentNode.replaceChild(h1Tag, pTag);
          };
        });
      });
    }
  });

  /*
  TODO
  Tekst ophalen
  */
  async function getSelectedText() {
    var selectedText = window.getSelection().toString();
    console.log('printing selected text')
    const textarea = document.querySelector('textarea');
    textarea.value = selectedText;
  }
</script>

</html>