<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <title>Teksten vereenvoudigen</title>

  <script>

  </script>

</head>

<body>

  <div class="container">
    <p>taal: {{lang}}</p><br>
    <p>titel: {{title}}</p><br>
    <p>onderwerp: {{subject}}</p><br>
  </div>

  <div class="container">
    <div class="left-container">
      {% for sentence in original %}
      <p class="text">
        {% for word in sentence %}
        <span class="lexical">{{ word }}</span>
        {% endfor %}
      </p>
      {% endfor %}
    </div>

    <div class="right-container">

      <div class="">

        <div class="buttons">
          <input type="button" hidden value="Get Selection" onmousedown="getSelectedText()">
        </div>

        <form action="/summarise-with-presets" method="post">
          <textarea name="" id="" cols="30" rows="10" disabled hidden></textarea>

          <h2>Tools voor de leerkracht</h2>
          <fieldset>
            <label for="checkboxTitle">Titels markeren</label><input type="checkbox" id="checkboxTitle"><br>
            <label for="checkboxFullyAutomatic">Volledig document markeren</label><input type="checkbox" name="" id="checkboxFullyAutomatic"><br>
            <label for="saveMethod">Opslaan als:</label>
            <select multiple name="saveMethod" id="saveMethod">
                <option value="saveMethodWord">Word</option>
                <option value="saveMethodPDF">PDF</option>
            </select>
          </fieldset>

          <h2>Lexicale vereenvoudiging</h2>
          <fieldset>
            <input type="checkbox" id="metric" name="metric" value="metric">
            <label for="metric">Metriek om moeilijke zinnen te herkennen</label><br>

            <input type="checkbox" id="keywords" name="keywords" value="keywords">
            <label for="keywords">Belangrijke kernwoorden automatisch herkennen</label><br>

            <input type="checkbox" id="language" name="language" value="language">
            <label for="language">Automatische taalherkenning</label><br>

            <input type="checkbox" id="vocabulary" name="vocabulary" value="vocabulary">
            <label for="vocabulary">Moeilijke woordenschat vervangen</label><br>

            <input type="checkbox" id="glossary" name="glossary" value="glossary">
            <label for="glossary">Glossary aanmaken (vak/wetenschappelijk jarg.)</label><br>
          </fieldset>

          <h2>Syntactische vereenvoudiging</h2>
          <fieldset>
            <input type="checkbox" id="syntax" name="syntax" value="syntax">
            <label for="syntax">Tangconstructies aanpassen</label><br>

            <input type="checkbox" id="sentence_length" name="sentence_length" value="sentence_length">
            <label for="sentence_length">Zinnen langer dan tien woorden inkorten</label><br>

            <input type="checkbox" id="pronouns" name="pronouns" value="pronouns">
            <label for="pronouns">Verwijswoorden aanpassen</label><br>

            <input type="checkbox" id="prepositions" name="prepositions" value="prepositions">
            <label for="prepositions">Voorzetseluitdrukkingen vervangen</label><br>

            <input type="checkbox" id="compound_verbs" name="compound_verbs" value="compound_verbs">
            <label for="compound_verbs">Samengestelde werkwoorden vervangen</label><br>
          </fieldset>


          <h2>Samenvatten</h2>
          <fieldset>
            <input type="checkbox" id="citation" name="citation" value="citation">
            <label for="citation">Bronvermelding</label><br>

            <input type="checkbox" id="paraphrasing" name="paraphrasing" value="paraphrasing">
            <label for="paraphrasing">Parafrasering / abstraherende samenvatting</label><br>

            <input type="checkbox" id="important_sentences" name="important_sentences" value="important_sentences">
            <label for="important_sentences">Automatische markering van de belangrijke zinnen</label><br>

            <input type="checkbox" id="extractive_summary" name="extractive_summary" value="extractive_summary">
            <label for="extractive_summary">Extraherende samenvatting</label><br>

            <input type="checkbox" id="summary_length" name="summary_length" value="summary_length">
            <label for="summary_length">Lengte van de samenvatting</label><br>

            <input type="checkbox" id="keyword_summary" name="keyword_summary" value="keyword_summary">
            <label for="keyword_summary">Samenvatten op basis van kernwoorden</label>
          </fieldset>

          <button type="submit" value="Samenvatten" id="summarize-with-presets-button">Volledig document samenvatten</button>
        </form>

      </div>

    </div>

</body>

<script>
  /*
  Marking titles as a teacher
  */
  const checkbox = document.getElementById("checkboxTitle");
  checkbox.addEventListener("change", function () {
    if (checkbox.checked) {
      const ptag = document.querySelectorAll('p');
      ptag.forEach((p) => {
        p.addEventListener('click', async (event) => {
          if (checkboxTitle.checked) {
            var pTag = event.target;
            var h1Tag = document.createElement("h1");
            h1Tag.innerHTML = pTag.innerHTML;
            pTag.parentNode.replaceChild(h1Tag, pTag);
          };
        });
      });
    }
  });

  /*
  TODO
  Tekst ophalen
  */
  async function getSelectedText() {
    var selectedText = window.getSelection().toString();
    console.log('printing selected text')
    const textarea = document.querySelector('textarea');
    textarea.value = selectedText;
  }
</script>

</html>