<!--{% set threshold = 40 %}-->

<script>
  const paragraph = document.getElementById('text');
  paragraph.addEventListener('click', (event) => {
    const clickedWord = event.target.textContent.trim();
    console.log(clickedWord);
  });
</script>

<script>
  // Get all the p tags on the page
var paragraphs = document.getElementsByTagName('p');

// Loop through each p tag and add a click event listener
for (var i = 0; i < paragraphs.length; i++) {
  paragraphs[i].addEventListener('click', function() {
    // Print the content of the clicked p tag to the console
    console.log(this.textContent);
  });
}

</script>

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Teksten vereenvoudigen: prototype</title>
  </head>
  <body>

    <div class="container">
      <div class="left-container">
        <h1>Oorspronkelijk</h1>
        {% for sentence in full_text %}
          <p class="text">{{ sentence }}</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>

