<!--{% set threshold = 40 %}-->

<script>
  const callPythonFunctionLookUp = async (word, context) => {
    try {
      const response = await fetch(`http://localhost:5000/look-up-word?word=${word}&context=${context}`);
      return result = await response.json();
    } catch (error) {
      console.error(error);
    }
  };

  const callPythonFunctionSummarize = async (text) => {
    try {
      const response = await fetch(`http://localhost:5000/summarize?text=${text}`);
      return result = await response.json();
    } catch (error) {
      console.error(error);
    }
  };

  const callPythonFunctionExtractiveSummarize = async (text) => {
    try {
      const response = await fetch(`http://localhost:5000/extract-text?text=${text}`);
      return result = await response.json();
    } catch (error) {
      console.error(error);
    }
  };

  const callPythonFunctionAbstractiveSummarization = async (text) => {
    try {
      const response = await fetch(`http://localhost:5000/summarize?text=${text}`);
      return result = await response.json();
    } catch (error) {
      console.error(error);
    }
  };

  const callPythonFunctionSyntacticSimplification = async (text, prompt) => {
    try {
      const response = await fetch(`http://localhost:5000/syntactic-simplify?text=${text}&prompt=${prompt}`);
      return result = await response.json();
    } catch (error) {
      console.error(error);
    }
  };

  document.addEventListener('DOMContentLoaded', () => {
    const spans = document.querySelectorAll('.lexical');
    spans.forEach((span) => {
      span.addEventListener('click', async (event) => {
        sentence_of_origin = span.closest('.text');
        var context = '';
        for (const child of sentence_of_origin.children) {
          context = context + ' ' + child.textContent;
        }
        const word = event.target.textContent;
        const response = await callPythonFunctionLookUp(word, context);
        console.log(response);
        var dazzle = document.querySelector(".dazzle");
        var p = document.createElement("p");
        var p2 = document.createElement("p");
        var text = document.createTextNode(JSON.stringify(response.result));
        var prompt = document.createTextNode(JSON.stringify(response.prompt));
        p.appendChild(prompt);
        dazzle.appendChild(p)
        p2.appendChild(text);
        dazzle.appendChild(p2);
      });
    });
  });



  async function getSelectedText() {
    var selectedText = window.getSelection().toString();
    console.log('printing selected text')
    var dazzle = document.querySelector(".dazzle");
    var p = document.createElement("p");
    p.appendChild(selectedText);
    dazzle.appendChild(p);
  }

  async function extractiveSummarization() {
    var selectedText = window.getSelection().toString();
    const response = await callPythonFunctionExtractiveSummarize(selectedText);
    var dazzle = document.querySelector(".dazzle");
    var p = document.createElement("p");
    var text = document.createTextNode(JSON.stringify(response.result));
    p.appendChild(text);
    dazzle.appendChild(p);
  }

  async function abstractiveSummarization() {
    var selectedText = window.getSelection().toString();
    const response = await callPythonFunctionAbstractiveSummarization(selectedText);
    var dazzle = document.querySelector(".dazzle");
    var p = document.createElement("p");
    var p2 = document.createElement("p");
    var text = document.createTextNode(JSON.stringify(response.result));
    var prompt = document.createTextNode(JSON.stringify(response.prompt));
    p.appendChild(prompt);
    dazzle.appendChild(p)
    p2.appendChild(text);
    dazzle.appendChild(p2);
  }

  async function emptyChat() {
    const dazzleDiv = document.querySelector('.dazzle');
    dazzleDiv.innerHTML = '';
  }

  async function syntacticSimplification() {
    var selectedText = window.getSelection().toString();
    const response = await callPythonFunctionSyntacticSimplification(selectedText);
    var dazzle = document.querySelector(".dazzle");
    var p = document.createElement("p");
    var p2 = document.createElement("p");
    var text = document.createTextNode(JSON.stringify(response.result));
    var prompt = document.createTextNode(JSON.stringify(response.prompt));
    p.appendChild(prompt);
    dazzle.appendChild(p)
    p2.appendChild(text);
    dazzle.appendChild(p2);
  }

</script>

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <title>Teksten vereenvoudigen: prototype</title>
</head>

<body>

  {% for kw in keywords %}
    <span class="keyword">{{ kw }}</span>
  {% endfor %}

  <div class="container">
    <div class="text-container">
      {% for sentence in full_text %}
      <p class="text">
        {% for word in sentence %}
        <span class="lexical">{{ word }}</span>
        {% endfor %}
      </p>
      {% endfor %}
    </div>

    <!--'chatbot'-->
    <div class="fixed-bottom">
      <div class="buttons">
        <input type="button" value="Get Selection" onmousedown="getSelectedText()">
        <!--<input type="button" value="Vertaal dit naar NL" onmousedown="getSelectedText()">-->
        <input type="button" value="Eenvoudige woordenschat" onmousedown="lexicalSimplification()">
        <input type="button" value="Eenvoudige grammatica" onmousedown="syntacticSimplification()">
        <input type="button" value="Samenvatten" onmousedown="hybridSummarization()">
        <input type="button" value="Wat zijn de belangrijkste zinnen?" onmousedown="extractiveSummarization()">
        <input type="button" value="Schrijf dit in eigen woorden" onmousedown="abstractiveSummarization()">
        <input type="button" value="Wat betekent dit woord?" onmousedown="getSelectedText()">
        <input type="button" value="Chat leegmaken?" onmousedown="emptyChat()">
      </div>
      <!--append-div-->
      <div class="dazzle"></div>
    </div>
  </div>



</body>

</html>