<!--{% set threshold = 40 %}-->

<script>
  const callPythonFunctionLookUp = async (word) => {
    try {
      const response = await fetch(`http://localhost:5000/look-up-word?word=${word}`);
      return result = await response.json();
    } catch (error) {
      console.error(error);
    }
  };

  const callPythonFunctionSummarize = async (text) => {
    try {
      const response = await fetch(`http://localhost:5000/summarize?text=${text}`);
      return result = await response.json();
    } catch (error) {
      console.error(error);
    }
  };

  var leftContainer = document.querySelector(".left-container");
  const spans = leftContainer.querySelectorAll("span");
  spans.forEach((span) => {
    span.addEventListener('click', async (event) => {
      const word = event.target.textContent;
      const response = await callPythonFunctionLookUp(word);
      console.log(response);
      var dazzle = document.querySelector(".dazzle");
      var p = document.createElement("p");
      var text = document.createTextNode(JSON.stringify(response.result));
      p.appendChild(text);
      dazzle.appendChild(p);
    });
  });

  async function getSelectedText() {
    var selectedText = window.getSelection().toString();
    const response =  await callPythonFunctionSummarize(selectedText);
    console.log(response);
    var dazzle = document.querySelector(".dazzle");
    var p = document.createElement("p");
    var text = document.createTextNode(JSON.stringify(response.result));
    p.appendChild(text);
    dazzle.appendChild(p);
  }


  const spans_check = document.querySelectorAll('span');
  console.log(spans_check);

</script>

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <title>Teksten vereenvoudigen: prototype</title>
  <style>
    span {
      cursor: pointer;
      border-bottom: 1px dashed blue;
    }
  </style>
</head>

<body>

  <div class="container">
    <!--OG PDF-->
    <div class="left-container">
      <h1>Oorspronkelijk</h1>
      {% for sentence in full_text %}
      <p class="text">
        {% for word in sentence %}
        <span>{{ word }}</span>
        {% endfor %}
      </p>
      {% endfor %}
    </div>

    <!--'chatbot'-->
    <div class="right-container">
      <input type="button" value="Get Selection" onmousedown="getSelectedText()">
      <div class="dazzle"></div>
    </div>
  </div>

  

</body>

</html>