<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Text simplification</title>
  </head>
  <body>
    <h1>Text Simplification</h1>
    <form method="post" enctype="multipart/form-data">
      <label for="pdf">Voeg een PDF toe:</label>
      <input type="file" id="pdf" name="pdf"><br><br>
      <input type="submit" value="View PDF">
    </form>
  </body>
</html>
