{% set threshold = 40 %}


<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Teksten vereenvoudigen</title>
  </head>
  <body>
    
    <div class="container">
      <p>taal: {{lang}}<br></p>
      <p>titel: {{title}}<br></p>
      <p>onderwerp: {{subject}}</p>
    </div>

    <div class="container">
      <div class="left-container">
        <h1>Oorspronkelijk</h1>
        {% for sentence in original %}
          {% if sentence[1] < threshold %}
            <p>{{ sentence[0] }}</p>
          {% else %}
            <p>{{ sentence[0] }}</p>
          {% endif %}
        {% endfor %}
      </div>
      <div class="right-container">
        <h1>Samenvatting</h1>
        {% for sentence in result %}
          {% if sentence[1] < threshold %}
            <p>{{ sentence[0] }}</p>
          {% else %}
            <p>{{ sentence[0] }}</p>
          {% endif %}
        {% endfor %}
        <h2>Belangrijkste zinnen</h2>
        {% for sentence in result2 %}
          {% if sentence[1] < threshold %}
            <p>{{ sentence[0] }}</p>
          {% else %}
            <p>{{ sentence[0] }}</p>
          {% endif %}
        {% endfor %}
            
      </div>
    </div>

  </body>
</html>