<!DOCTYPE html>
<html>

<head>
  <title>Click to Call Python Function</title>
  <meta charset="UTF-8">
  <style>
    span {
      cursor: pointer;
      border-bottom: 1px dashed blue;
    }
  </style>
</head>

<body>
  <p>
    <span>Adhesief</span>
    <span>Arbitrair</span>
    <span>Evangeliseren</span>
    <span>sit</span>
    <span>amet,</span>
    <span>consectetur</span>
    <span>adipiscing</span>
    <span>elit.</span>
  </p>


  <script>
    const callPythonFunctionLookUp = async (word) => {
      try {
        const response = await fetch(`http://localhost:5000/look-up-word?word=${word}`);
        return result = await response.json();
      } catch (error) {
        console.error(error);
      }
    };

    const callPythonFunctionSummarize = async (text) => {
      try {
        const response = await fetch(`http://localhost:5000/summarize?text=${text}`);
        return result = await response.json();
      } catch (error) {
        console.error(error);
      }
    };

    const spans = document.querySelectorAll('span');
    spans.forEach((span) => {
      span.addEventListener('click', async (event) => {
        const word = event.target.textContent;
        const response = await callPythonFunctionLookUp(word);
        console.log(response);
        var dazzle = document.querySelector(".dazzle");
        var p = document.createElement("p");
        var text = document.createTextNode(JSON.stringify(response.result));
        p.appendChild(text);
        dazzle.appendChild(p);
      });
    });

    async function getSelectedText() {
      var selectedText = window.getSelection().toString();
      const response =  await callPythonFunctionSummarize(selectedText);
      console.log(response);
      var dazzle = document.querySelector(".dazzle");
      var p = document.createElement("p");
      var text = document.createTextNode(JSON.stringify(response.result));
      p.appendChild(text);
      dazzle.appendChild(p);
    }
  </script>

  <input type="button" value="Get Selection" onmousedown="getSelectedText()">
  <div class="dazzle"></div>

</body>

</html>